# Data for one participant

In [21]:
import numpy as np
import mne
from scipy import signal
from scipy.interpolate import RectBivariateSpline
from mne.filter import resample, filter_data
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from lspopt import spectrogram_lspopt
from matplotlib.colors import Normalize, ListedColormap

import logging
LOGGING_TYPES = dict(DEBUG=logging.DEBUG, INFO=logging.INFO, WARNING=logging.WARNING,
                     ERROR=logging.ERROR, CRITICAL=logging.CRITICAL)
logger = logging.getLogger('yasa')

%matplotlib qt

In [22]:
fname = "P8_N3"

# Load feature object as a dataframe
df_feat = pd.read_csv(f"feature {fname} L.csv", index_col=False)

In [23]:
def normalize(v):
    norm = np.linalg.norm(v)
    if norm == 0:
        return v
    return v / norm

In [24]:
bands = ["delta", "theta", "alpha", "sigma", "beta", "gamma"]
bands_power = list()

for i, band in enumerate(bands):
    bands_power.append(np.mean(df_feat[band]))

In [25]:
name = fname.split("_")[0]

list_all = {
    "name": name,
    "delta": bands_power[0],
    "theta": bands_power[1],
    "alpha": bands_power[2],
    "sigma": bands_power[3],
    "beta" : bands_power[4],
    "gamma": bands_power[5],
}

In [26]:
df_all = pd.DataFrame([list_all])
df_all.head()

  name     delta     theta     alpha     sigma      beta     gamma
0   P8  0.859619  0.056825  0.035743  0.020715  0.019733  0.007364

In [34]:
# repeat the above procedure for other participants 
# run the code bellow for each participant 

fname = "P22_N2"
df_feat = pd.read_csv(f"feature {fname} L.csv", index_col=False)
bands = ["delta", "theta", "alpha", "sigma", "beta", "gamma"]
bands_power = list()
for i, band in enumerate(bands):
    bands_power.append(np.mean(df_feat[band]))
name = fname.split("_")[0]
list_all = {
    "name": name,
    "delta": bands_power[0],
    "theta": bands_power[1],
    "alpha": bands_power[2],
    "sigma": bands_power[3],
    "beta" : bands_power[4],
    "gamma": bands_power[5],
}
# add for others
df_new = pd.DataFrame([list_all])
df_all = pd.concat([df_all,df_new])
df_all.head()

  name     delta     theta     alpha     sigma      beta     gamma
0   P8  0.859619  0.056825  0.035743  0.020715  0.019733  0.007364
0  P11  0.848579  0.069301  0.030136  0.016484  0.025617  0.009883
0  P12  0.859627  0.074566  0.034923  0.011800  0.014240  0.004844
0  P15  0.857458  0.044644  0.021870  0.016155  0.036041  0.023832
0  P17  0.830060  0.055438  0.037397  0.023324  0.038856  0.014926

In [37]:
# Write all feature object to a comma-separated values (csv) file
df_all.to_csv(f"df_all.csv", index=False)

In [38]:
# Load all feature object as a dataframe
df_all = pd.read_csv(f"df_all.csv", index_col=False)

In [138]:
fig, axes = plt.subplots(len(bands),1, sharex=True, figsize=(7,8))

bands_description = [
    "Delta (0.5, 4) Hz",
    "Theta (4, 8) Hz",
    "Alpha (8, 12) Hz",
    "Sigma (12, 16) Hz",
    "Beta (16, 30) Hz",
    "Gamma (30, 40) Hz"
]

for i in range(len(bands)):
    axes[i].set_xticks(range(len(df_all["name"].values.tolist())))
    axes[i].set_xticklabels(df_all["name"].values.tolist())
    np.argmax(df_all[bands[i]])
    max_idx = np.argmax(df_all[bands[i]])
    min_idx = np.argmin(df_all[bands[i]])
    max = df_all[bands[i]][max_idx]
    min = df_all[bands[i]][min_idx]
    std = np.std(df_all[bands[i]])
    axes[i].plot([max_idx, max_idx],[min-std, max+std], '-.', color='silver', linewidth=3)
    axes[i].plot(df_all[bands[i]],'--',color="mediumseagreen")
    axes[i].plot(df_all[bands[i]],'o', c=f"C{np.random.randint(0,20)}")
    axes[i].set_title(bands_description[i],fontsize=11)

plt.tight_layout()
plt.savefig("main_figure.svg")
plt.show()

3

In [48]:
df_all["name"].values.tolist()

['P8', 'P11', 'P12', 'P15', 'P17', 'P18', 'P20', 'P21', 'P22']